<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>上传作业问题</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/laydate/laydate.js}"></script>
</head>

<body onload="a()">
<form th:action="@{/hworkQuestion/update}" th:object="${hworkQuestion}" method="post"  class="form-horizontal" role="form">
    <div class="form-group" style="display: none;">
        <label for="thworkNo" class="col-sm-2 control-label">作业Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="thworkNo"  name="thworkNo"
                   th:value="*{thworkNo}">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label for="hid" class="col-sm-2 control-label">作业Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="hid"  name="hid"
                   th:value="*{hid}">
        </div>
    </div>
    <div class="form-group" style="display: none;">
        <label for="courseNo" class="col-sm-2 control-label">课程id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="courseNo" name="courseNo"
                   th:value="*{courseNo}" >
        </div>
    </div>
    <div class="form-group">
        <label for="questionNo" class="col-sm-2 control-label">问题编号</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="questionNo" name="questionNo"
                   th:value="*{questionNo}">
        </div>
    </div>
    <div class="form-group">
        <label for="question" class="col-sm-2 control-label">问题</label>
        <div class="col-sm-10">
            <textarea  rows="10" cols="60" id="question" name="question"
                       th:value="*{question}" ></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="answer" class="col-sm-2 control-label">标准答案</label>
        <div class="col-sm-10">
            <textarea  rows="10" cols="60" id="answer" name="answer"
                       th:value="*{answer}" ></textarea>
        </div>
    </div>
    <div class="form-group" >
        <label for="grade" class="col-sm-2 control-label">满分：</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="grade" name="grade" th:value="*{grade}">
        </div>
    </div>
    <div class="form-group" style="display: none;" >
        <div class="col-sm-10">
            <input type="text" class="form-control" id="uid" name="uid" th:value="*{uid}">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input  type="submit" value="提交"/>
        </div>
    </div>
</form>

<script th:src="@{/js/jquery-3.4.1.min.js}"></script>

</body>
</html>
