<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:white-space="http://www.w3.org/1999/xhtml"
	  xmlns:min-width="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>课工场论坛列表</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/bbs.css}">
	<script type="text/javascript" th:src="@{/js/bbs.js}"></script>
</head>
<body>
<div class="bbs">
    <header><span onclick="fa()">我要发帖</span></header>
	<header><span onclick="shan()">我要删帖</span></header>
	<div id="clearc"></div>
    <section>
        <ul>
			<li onclick="view()">
				<div>
					<img th:src="@{/img/tou01.jpg}">
				</div>
				<h1>同学们！快要开学了！</h1>
				<p>
					"板块：新手报到"
					<span>
						<div id="tabll">
						<table width="600" height="70" border="0" align="center" cellpadding="0" cellspacing="1" bordercolorlight="#FF9933" bordercolordark="#FFFFFF" bgcolor="#666666">
						  <thead>
						    <tr>
						      <td width="14%" align="center" bgcolor="#FFFFFF"><img th:src="@{/img/tou01.jpg}" width="70" height="74"></td>
						      <td width="86%" align="left" bgcolor="#FFFFFF">&nbsp;人生若真如一场大梦，这个梦倒也很有趣的。在这个大梦里，一定还有长长短短，深深浅浅，肥肥瘦瘦、甜甜苦苦，无数的小梦。有些已经随着日影飞去；有些还远着哩……</td>
						    </tr>
						  </thead>
						</table>
						<br>
						<div>
						<table width="600" border="1" align="center" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" bordercolorlight="#666666" bordercolordark="#FFFFFF" id="comment">
						  <tr>
						    <td width="18%" height="27" align="center" bgcolor="#E5BB93">评论人</td>
						    <td width="82%" align="center" bgcolor="#E5BB93">评论内容</td>
						  </tr>
						</table>
						<form name="form1" method="post" action="">    
						  <table width="600" height="122" border="0" align="center" cellpadding="0" cellspacing="0">
						    <tr>
						      <td width="119" height="14">&nbsp;</td>
						      <td width="481">&nbsp;</td>
						    </tr>
						    <tr>
						      <td height="27" align="center">评 论 人：</td>
						      <td>
						        <input name="person" type="text" id="person" size="40">
						
						      </td>
						    </tr>
						    <tr>
						      <td align="center">评论内容：</td>
						      <td><textarea name="content" cols="60" rows="6" id="content"></textarea></td>
						    </tr>
						    <tr>
						      <td height="40">&nbsp;</td>
						      <td><input name="Button" type="button" class="btn_grey" value="发表" onClick="addElement()">
						      &nbsp;
						      <input name="Reset" type="reset" class="btn_grey" value="重置">
						      &nbsp;
						      <input name="Button" type="button" class="btn_grey" value="删除第一条评论" onClick="deleteFirstE()">
						      &nbsp;
						      <input name="Button" type="button" class="btn_grey" value="删除最后一条评论" onClick="deleteLastE()"></td>
						    </tr>
						  </table>
                        </form>
						 </div>
                        </div>
					</span>
				</p>
			</li>
		</ul>
    </section>
    <div class="post" id="post1">
        <input id="title" placeholder="请输入标题（1-50个字符）">
        所属版块：<select>
			<option>请选择版块</option>
			<option>电子书籍</option>
			<option>新课来了</option>
			<option>新手报到</option>
			<option>职业规划</option>
			</select>
        <textarea class="content"></textarea>
        <input class="btn" value="发布" onclick="chu()">
    </div>
</div>
</body>
</html>